# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
coverage
.cache
.tmp
*.tsbuildinfo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Generado por Cargo
# Tendrá archivos compilados y ejecutables
apps/desktop/src-tauri/target/

# Generado por Tauri
# Tendrá archivos de esquema para autocompletar capacidades
apps/desktop/src-tauri/gen/schemas
